<section class="pt-100 min-vh-100">
    <div class="mb-5">
        <app-star [titleStar]="'contact component'" [customColor]="'#2c3e50'"></app-star>
    </div>
    <div class="container">
        <form class="w-75 mx-auto pt-4" action="">
            <div class="form-floating mb-3 py-1">
                <input type="text" class="form-control border-0 border-bottom rounded-0" id="userName"
                    placeholder="userName">
                <label for="userName">your Name</label>
            </div>
            <div class="form-floating mb-3 py-1">
                <input type="number" class="form-control border-0 border-bottom rounded-0" id="userAge"
                    placeholder="userAge">
                <label for="userAge">Age</label>
            </div>
            <div class="form-floating mb-3 py-1">
                <input type="email" class="form-control border-0 border-bottom rounded-0" id="userEmail"
                    placeholder="userEmail">
                <label for="userEmail">Email Address </label>
            </div>
            <div class="form-floating mb-5 py-1">
                <input type="password" class="form-control border-0 border-bottom rounded-0" id="userPassword"
                    placeholder="userPassword">
                <label for="userPassword">Password</label>
            </div>
            <button class=" btn-main text-white ">Submit</button>
        </form>
    </div>



</section>