<section class="bg-sec min-vh-100 d-flex align-items-center justify-content-center flex-column">
     
    <div class="container text-white">
        <app-star [titleStar]="titleAbout" [customColor]="aboutColor"></app-star>
        <div class="row w-75 g-4 text-center fw-semibold   mt-1 text-md-start  mx-auto">
            <div class="col-md-6 ">
                <p>
                    Freelancer is a free Bootstrap theme created by Route. The download includes the complete source files,
                    including HTML, CSS, and JavaScript, as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
           
            <div class="col-md-6">
                <p>
                    Freelancer is a free Bootstrap theme created by Route. The download includes the complete source files,
                    including HTML, CSS, and JavaScript, as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
       
    </div>
</section>